@use "../../../../styles" as *;

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  padding: 0 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.fields {
  display: flex;
  gap: 64px;
  justify-content: space-between;

  @include media-query($tablet-s) {
    flex-direction: column;
    gap: 32px;
  }
}

.field_container {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.back_button {
  width: 100%;
}
