@use "../../../../styles" as *;

.card {
  @include media-query($mobile-l) {
    max-width: none;
    width: 100%;
  }
}

.avatar {
  width: 100%;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
