@use "../../styles" as *;

.header {
  border-bottom: 2px solid $blue;
  display: flex;
  height: 96px;
  justify-content: space-between;
  justify-content: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.logo_container {
  align-items: center;
  display: flex;
  gap: 12px;
}

.title {
  font-size: 24px;
}

.logo {
  animation: rotate 5s linear infinite;
  width: 64px;
}

.theme_mode {
  align-items: center;
  display: flex;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
